@import '../../node_modules/@angular/material/theming';

@include mat-core();

$custom-theme-primary: mat-palette($mat-gray);
$custom-theme-accent: mat-palette($mat-green, 500, 200, 800);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@mixin custom-theme($theme) {
  $wrapper-padding-bottom: 0;
}

@include angular-material-theme($custom-theme);
@include custom-theme($custom-theme);

html {
  font-family: $mat-font-family;
}

/********************************
 NOT MATERIAL STYLES
********************************/

html {
  background: $shpk-background;
  color: $shpk-text-color;
}

button {
  background: $shpk-background;
  border: 1px solid $shpk-border-color;
  color: $shpk-foreground;
  padding: $spacer;
}

input {
  border: 1px solid $shpk-border-color;
  padding: $spacer / 2;
}
