$white: #ffffff;
$green: #4ab765;
$green-dark: #2e9843;
$red: #F44336;
$gray: #e5e2dd;
$black: #212121;

$shpk-foreground: $white;
$shpk-background: $green;
$shpk-inverted-foreground: $green;
$shpk-inverted-background: $white;
$shpk-text-color: $black;
$shpk-border-color: $green-dark;
$shpk-dialog-background: $gray;
$shpk-error-color: $red;

// overrides for Bootstrap
$spacer: 10px;
$grid-gutter-width: $spacer;
$grid-gutter-height: 2 * $spacer;
