$white: #ffffff;
$green: #4ab765;
$green-dark: #2e9843;
$gray: #e5e2dd;
$black: #212121;

$shpk-primary: $green;
$shpk-primary-highlight: $white;
$shpk-primary-darken: $black;

// overrides for Bootstrap
$spacer: 10px;
$grid-gutter-width: 2 * $spacer;
$grid-gutter-height: 2 * $spacer;
